@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: 'Vazir';
    src: url('./assets/fonts/Vazir.eot') format('eot');
    src: url('./assets/fonts/Vazir.ttf') format('ttf');
    src: url('./assets/fonts/Vazir.woff') format('woff');
  }
  
  *{
    font-family: 'Vazir';
  }

  a:hover, button:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
     rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
     rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }

  article{
    transition: transform .3s;
  }

  .easyShop{
    background: linear-gradient(90deg, rgba(215,3,25,1) 19%,
     rgba(126,21,199,1) 47%, rgba(21,172,199,1) 73%,
     rgba(22,199,21,1) 85%); 
  }

  /* #rating{
    background: rgb(226,12,196);
    background: radial-gradient(circle, rgba(226,12,196,1) 19%,
     rgba(21,172,199,1) 49%, rgba(29,199,21,1) 82%); 
  } */

  .cart{
    background: rgb(226,12,196);
    background: linear-gradient(90deg, rgba(226,12,196,1) 19%,
    rgba(21,172,199,1) 49%, rgba(29,199,21,1) 82%); 
  }